<!doctype html>
{% extends 'Investor.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Applicant Details</title>
    <!-- Add your CSS files here -->
</head>
<body>
{% block content %}
    <br><br><br>
    <div class="container">
        <h3>Applicant Details</h3>
        <p><strong>Client ID: {{ client.id }}</strong></p>
        <p><strong>First Name:</strong> {{ applicant.Applicant_first_name }}</p>
        <p><strong>Last Name:</strong> {{ applicant.Applicant_last_name }}</p>
        <p><strong>Loan Amount:</strong> {{ applicant.Applicant_loan_amount }}</p>
        <p><strong>Gender:</strong> {{ applicant.Applicant_gender }}</p>
        <p><strong>Date of Birth:</strong> {{ applicant.Applicant_dob }}</p>
        <p><strong>College:</strong> {{ applicant.Applicant_college_name }}</p>
        <p><strong>University:</strong> {{ applicant.Applicant_university }}</p>
        <!-- Add more fields as needed -->

        <!-- Optionally, include links to view uploaded documents -->
    </div><br><br>
{#                <h3 class="container">Submit a New Offer</h3><br><br>#}

    <div class="container">
    <div class="">
        <div class="apply-wrapper">
            <form method="post" action="{% url 'submit_offer' applicant.id %}">
                {% csrf_token %}
                {{ form.as_p }}
{#                <button type="submit" class="btn apply-btn mt-30">Submit Offer</button>#}
            </form>
        </div>
    </div>

    </div><br><br>
{% endblock %}
</body>
</html>
