
<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Edu.Inv_Client</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">

   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static '/assets/img/logo/eduinv-client.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1"><br>
                                <div class="logo">
                                    <a href="{% url 'clientpage' %}"><img src="{% static '/assets/img/logo/eduinv-client.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="active"><a href="{% url 'investorpage' %}">Home</a></li>
                                            <li><a href="{% url 'aboutpage' %}">About</a></li>
                                            <li><a href="{% url 'applicant_login' %}">Applicant login</a></li>
                                            <li><a href="{% url 'userlogoutpageclient' %}">Log Out</a></li>
                                            <li><a href="{% url 'contactpage' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    {% if request.session.useremaill %}
                                        <a href="{% url 'clientpage' %}" class="btn header-btn">{{ request.session.useremaill }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    {% block content %}

    <main>

        <!-- slider Area Start-->
        <div class="slider-area slider-height" data-background="{% static 'assets/img/hero/h1_hero.jpg' %}">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
{#                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your financial goal</p>#}
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Apply for a loan, unlock your potential.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'applyforloanpage' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static '/assets/img/hero/hero_img.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->

            </div>
            <!-- slider-footer Start -->
            <div class="slider-footer section-bg d-none d-sm-block">
                <div class="footer-wrapper">
                    <!-- single -->
                    <div class="single-caption">
                        <div class="single-img">
                            <img src="{% static '/assets/img/hero/hero_footer.png' %}" alt="">
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="caption">
                            <p>Educational Advancement</p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="caption">
                            <p>Economic Impact</p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-money"></span>
                        </div>
                        <div class="caption">
                            <p>Social Equity</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- slider-footer End -->

        </div>
        <!-- slider Area End-->
        <!-- About Law Start-->
{#                <div class="about-low-area section-padding2">#}
{#            <div class="container">#}
{#                <div class="section-top-border">#}
{#					<!-- Display client details here -->#}
{#                    <h1>{{ client.Applicant_first_name }} {{ client.Applicant_last_name }}</h1>#}
{#                    <p>Email: {{ client.Applicant_email }}</p>#}
{#                    <p>Loan Amount: {{ client.Applicant_loan_amount }}</p>#}
{##}
{#                    <!-- Display existing offers if the client is approved -->#}
{#                    {% if client.is_approved %}#}
{#                    <h2>Offers from Investors for {{ client.Applicant_first_name }}</h2>#}
{#                    <table>#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>Investor</th>#}
{#                                <th>Offer Amount</th>#}
{#                                <th>Interest Rate (%)</th>#}
{#                                <th>Duration (Months)</th>#}
{#                                <th>Deal</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            {% for offer in offers %}#}
{#                            <tr>#}
{#                                <td>{{ offer.investor.username }}</td>#}
{#                                <td>{{ offer.amount }}</td>#}
{#                                <td>{{ offer.interest_rate }}</td>#}
{#                                <td>{{ offer.duration }}</td>#}
{#                                <td>#}
{#                                    <form method="post" action="{% url 'accept_offer' offer.id %}">#}
{#                                        {% csrf_token %}#}
{#                                        <button type="submit">Accept Offer</button>#}
{#                                    </form>#}
{#                                    <form method="post" action="{% url 'reject_offer' offer.id %}">#}
{#                                        {% csrf_token %}#}
{#                                        <button type="submit">Reject Offer</button>#}
{#                                    </form>#}
{#                                </td>#}
{#                            </tr>#}
{#                            {% empty %}#}
{#                            <tr>#}
{#                                <td colspan="4">No offers available.</td>#}
{#                            </tr>#}
{#                            {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
{#                    {% else %}#}
{#                    <p>You are not approved to view offers yet.</p>#}
{#                    {% endif %}#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}

        <!-- About Law End-->
        <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150" data-background="{% static '/assets/img/gallery/section_bg02.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <h2>Benefits of Edu.Inv</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-work"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Increased Access to Education</a></h5>
                                <p>Edu.Inv provides financial support to deserving students, enabling them to pursue higher education and achieve their academic goals, regardless of their financial background.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Economic Growth</a></h5>
                                <p style="padding-bottom: 24px;">Educating more individuals contributes to a more skilled workforce, which can lead to greater economic development and prosperity in the long run.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan-1"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Transparency and Trust</a></h5>
                                <p>The platform ensures transparency in loan terms and investment processes, building trust between students and investors, and promoting responsible financial practices.</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-like"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Positive Social Impact</a></h5>
                                <p>By connecting investors with students, the platform fosters a sense of community, encouraging public involvement in education and creating a positive ripple effect in society.</p><br>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area section-padding3 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="{% static '/assets/img/gallery/single2.jpg' %}" alt="">
                            <div class="support-img-cap">
                                <span>Since 2024</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <span>Why Choose Edu.Inv</span>
                                <h2>Serve, Invest, Learn</h2>
                            </div>
                            <div class="support-caption">
                                <p>Choosing Edu.Inv means opting for a platform that prioritizes both educational empowerment and community impact.
                                    Our user-friendly interface makes it easy for students to apply for loans tailored to their specific needs, while investors find a transparent, rewarding way to support future leaders.
                                    Unlike traditional loan systems, we focus on accessibility and fairness, ensuring that financial limitations
                                    don’t stand in the way of academic dreams. With Edu.Inv, you're not just choosing a financial service—you're joining a mission to create lasting change through education.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
        <!-- Testimonial Start -->
        <div class="testimonial-area t-bg testimonial-padding">
            <div class="container ">
               <div class="row d-flex justify-content-center">
                    <div class="col-xl-11 col-lg-11 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                 <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static '/assets/img/gallery/testimonial.png' %}" alt="">
                                        <p>There is no better investment a nation can make than education.
                                            It is an investment in economic development, an investment in opportunity and an investment in our shared future.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static '/assets/img/testmonial/prof.png' %}" alt="">
                                        </div>
                                       <div class="founder-text">
                                            <span>Alwin K G</span>
                                            <p>Creator</p>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="{% url 'clientpage' %}"><img src="{% static '/assets/img/logo/eduinv-client(white).png' %}" alt=""></a>
                                    </div>
                                    <div class="footer-pera">
                                        <p>Empowering education through innovation, one student and one investment at a time.</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="{% url 'aboutpage' %}">About</a></li>
                                        <li><a href="{% url 'applyforloanpage' %}">Apply for loan</a></li>
                                        <li><a href="{% url 'contactpage' %}"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="{% url 'contactpage' %}">Your Feedback</a></li>
                                        <li><a href="{% url 'aboutpage' %}">Terms & Conditions</a></li>
                                        <li><a href="{% url 'aboutpage' %}"> Privacy Policy</a></li>
                                        <li><a href="{% url 'contactpage' %}">Report a Payment Issue</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is created <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://www.linkedin.com/in/alwin-k-g-b60442253" target="_blank">Alwin K G</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="http://www.linkedin.com/in/alwin-k-g-b60442253"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static '/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static '/assets/js/popper.min.js' %}"></script>
        <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static '/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static '/assets/js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static '/assets/js/wow.min.js' %}"></script>
		<script src="{% static '/assets/js/animated.headline.js' %}"></script>
        <script src="{% static '/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Nice-select, sticky -->
        <script src="{% static '/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static '/assets/js/jquery.sticky.js' %}"></script>

        <!-- contact js -->
        <script src="{% static '/assets/js/contact.js' %}"></script>
        <script src="{% static '/assets/js/jquery.form.js' %}"></script>
        <script src="{% static '/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static '/assets/js/mail-script.js' %}"></script>
        <script src="{% static '/assets/js/jquery.ajaxchimp.min.js' %}"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="{% static '/assets/js/plugins.js' %}"></script>
        <script src="{% static '/assets/js/main.js' %}"></script>
        <script>
            window.onload = function() {
                // Check if an alert message exists
                var alertMessage = "{{ alert_message }}";
                if (alertMessage) {
                    alert(alertMessage);  // Show a pop-up alert
                }
            };
        </script>
    </body>
</html>